/*
Contiene los estilos de los botones
25/11/2017 por
*/

.botones-formulario {
  align-self: center;
  padding: $m-size 0px;
}


#enviar, .borrar, #buscar, #button-search, #boton-registro{
  color: $color-texto;
  font-size: $m-size;
  padding: $s-size;
  margin: $s-size;
  font-family: Helvetica;
  background-color: $color-principal-claro;
  border: 1px solid $color-principal;
  margin-right: $s-size;
}

.button-td {
	max-width: $l-size;
	max-height: $l-size;
}