.botones-formulario {
  align-self: center;
  padding: 20px 0px;
}


#enviar, .borrar, #buscar, #button-search, #boton-registro{
  color: #444;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  font-family: Helvetica;
  background-color: #FFEDC4;
  border: 1px solid #FACD63;
  margin-right: 10px;
}

.button-td {
	max-width: 30px;
	max-height: 30px;
}