form p{
  width: 100%;
  font-size: $m-size;
  text-align: center;
  padding: $m-size 0px;
}

#formulario-add, #formulario-edit, #formulario-search, #formulario-registro, #formulario-login{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: $xl-size;
  margin: $m-size;
  border: 2px solid #AAA;
}

.tcal{
  background-color: white;
}

input, select{
  color: $color-texto;
  background-color: white;
  font-size: $m-size;
  margin: $s-size 0;
  padding: 5px;
  border: 2px solid $color-principal;
  border-radius: 2px;
}

#grupo-practicas{
  margin-left: 150px;
}


