#tablas{
  display: flex;
  flex-direction: column;
  padding-top: $xl-size;
}

table tr th {
  font-size: $s-size;
  padding: $s-size;
  background-color: $color-principal;
}
.celda {
  font-size: $s-size;
  padding: $s-size;
  background-color: $color-principal-claro;
  text-align: center;
}

.celda-correcta {
  font-size: $s-size;
  padding: $s-size;
  width: 50px;
  background-color: rgba(152, 250, 152, 0.58);
  text-align: center;
}

.celda-incorrecta {
  font-size: $s-size;
  padding: $s-size;
  width: 50px;
  background-color: rgba(255, 117, 117, 0.58);
  text-align: center;
}

.celda-botones, .boton-atras {
  padding: $s-size;
  text-align: center;
}

button{
  background: none;
  border: none;
}

#botones-comunes img{
  max-width: $l-size;
	max-height: $l-size;
}

.button-td {
	max-width: $l-size;
	max-height: $l-size;
}

#tablas p{
  margin-top: $xl-size; 
  margin-bottom: $m-size;
}

#mensaje-de-borrado {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $xl-size; 
  margin-bottom: $m-size;
  padding: $s-size;
  background-color: rgba(255, 117, 117, 0.58)
}

#mensaje-de-borrado img{
  height: $l-size;
  width: $l-size;
}

#mensaje-de-borrado p{
  margin: 0px;
}

@media screen and (min-width:1500px) {
  .cabecera-tabla {
    font-size: $s-size;
  }
  .celda {
    font-size: $s-size;
  }
}
