//Colores
$color-principal: #FACD63;
$color-principal-claro: #FFEDC4;
$color-texto: #444;
$fondo-oscuro: #333;
$fondo-claro: #DDD;

//Espacios
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Fuentes
$fuente-titulo: Kaushan Script;